[package]
name = "plutoc"
version = "0.1.0"
edition = "2024"

[dependencies]
logos = "0.14"
cranelift-codegen = "0.116"
cranelift-frontend = "0.116"
cranelift-module = "0.116"
cranelift-object = "0.116"
clap = { version = "4", features = ["derive"] }
ariadne = "0.4"
thiserror = "2"

[dev-dependencies]
tempfile = "3"

[[test]]
name = "integration"
path = "tests/integration/basic.rs"

[[test]]
name = "modules"
path = "tests/integration/modules.rs"
